.book-item {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.book-item-img img {
	max-width: 130px;
	margin-right: auto;
	margin-left: auto;
}
.book-item-info {
	margin-top: 1rem;
	text-align: center;
}
.book-item-info.title {
	line-height: 1.4;
	margin-bottom: 0.8rem;
}
.book-item-info-item.author {
	line-height: 1.4;
	margin-bottom: 4px;
}
