.star-icon {
	font-size: 4rem;
	cursor: pointer;
	transition: color 0.3s ease;
	color: #fca510;
	background-color: #00000026;
	position: absolute;
	top: 0;
	left: 0;
}

.collection_bottom_btn {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.collection_bottom_btn .btn {
	width: 100%;
	border: 1px solid transparent;
	border-bottom: 1px solid #343746;
	border-radius: 3px;
	transition: background-color 0.3s ease;
}

.collection_bottom_btn .btn:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

.collection_bottom_btn a {
	width: 100%;
	text-decoration: none;
	color: antiquewhite;
}
