.favoriteWrapper {
	width: 80vw;
	min-height: 100vh;
	margin: 0 auto;
	padding: 5rem 2rem;
	display: flex;
	flex-direction: column;
}

.favoriteWrapper .favorite_wrapper {
	width: 90%;
	margin: 2rem auto;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
}

.favoriteWrapper .favorite_content {
	width: 100%;
	min-height: 30vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px;
	margin-top: 2rem;
}

.favoriteWrapper .collection_empty {
	width: 80%;
	height: 5rem;
	margin: 0 auto;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.favoriteWrapper .book_form {
	width: 25%;
	height: 28rem;
	border: 1px solid transparent;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
	transition: all 300ms ease-in-out;
}

.favoriteWrapper .book_form:hover {
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 0px;
}

.favoriteWrapper .icon_close {
	font-size: 2rem;
	color: antiquewhite;
	position: absolute;
	top: 0.5em;
	left: 17rem;
	z-index: 20;
	cursor: pointer;
}

.favoriteWrapper .filter_btn {
	width: 9rem;
	height: 2.5rem;
	position: absolute;
	left: 0;
	top: 1rem;
	z-index: 15;
}

.favoriteWrapper .filter_btn .btn {
	width: 100%;
	background-color: #4a83f6;
	color: #fff;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	margin: 10px;
	font-size: 1.2em;
	transition: background-color 0.3s ease;
}

.favoriteWrapper .filter_btn .btn:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

@media screen and (min-width: 1300px) {
	.favoriteWrapper .book_form {
		width: 18%;
	}
}

@media screen and (max-width: 1000px) {
	.favoriteWrapper .filter_btn {
		width: 6rem;
		height: 3rem;
	}

	.favoriteWrapper .filter_btn .btn {
		width: 90%;
		font-size: 0.8em;
	}

	.favoriteWrapper .icon_close {
		font-size: 1.5rem;
		left: 11rem;
	}

	.favoriteWrapper .book_form {
		width: 40%;
	}
}

@media screen and (max-width: 700px) {
	.favoriteWrapper .filter_btn {
		width: 90%;
		height: 3rem;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 0.5rem;
	}

	.favoriteWrapper .filter_btn .btn {
		width: 60%;
		font-size: 1.2em;
		margin: 0;
	}

	.favoriteWrapper {
		width: 100vw;
	}

	.favoriteWrapper .favorite_content {
		justify-content: center;
	}

	.favoriteWrapper .icon_close {
		left: 18rem;
		font-size: 2.5rem;
		top: 0;
	}

	.favorite_filter_block {
		width: 100%;
		height: 5rem;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #282c34;
		z-index: 3;
	}

	.favoriteWrapper .book_form {
		width: 70%;
	}
}
