.main_container {
	width: 80%;
	min-height: 30rem;
	margin: 2rem auto;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: flex-start;
}

.showCard {
	width: 60%;
	height: 30rem;
	border: 1px solid transparent;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
	transition: all 300ms ease-in-out;
}

.showCard:hover {
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 0px;
}

.showCard_bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 5rem;
	left: 0.25rem;
	padding: 10px;
	gap: 20px;
	z-index: 5;
}

.showCard_body {
	width: 20rem;
	min-height: 7rem;
	background-color: #007bffc4;
	border-radius: 10px;
	text-align: left;
	padding: 20px;
	color: white;
}

.showCard_body p {
	font-size: 1em;
}

.showCard .btn {
	width: 6rem;
	min-height: 2.5rem;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: background-color 0.3s ease-in-out;
}

.showCard .btn:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

.readBook_form {
	width: 35%;
	height: 30rem;
	border: 1px solid transparent;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	padding: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
	transition: all 300ms ease-in-out;
}

.readBook_form:hover {
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 0px;
}

.readBook_title {
	color: white;
}

.readBook_form a {
	text-decoration: none;
}

.mainBook_empty {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 0.5rem;
}

@media screen and (max-width: 1000px) {
	.main_container h3 {
		font-size: 1.3em;
	}

	.main_container p {
		font-size: 0.9em;
	}

	.showCard_bottom {
		width: 80%;
		left: 2rem;
	}
}

@media screen and (max-width: 700px) {
	.main_container {
		flex-direction: column;
		gap: 30px;
	}

	.showCard {
		width: 100%;
		height: 30rem;
	}

	.showCard_bottom {
		width: 80%;
		flex-direction: column;
		align-items: flex-end;
		gap: 5px;
		left: 0;
		bottom: 4rem;
	}

	.showCard_body {
		width: 15rem;
		height: 6rem;
	}

	.readBook_form {
		width: 100%;
		height: 30rem;
	}
}
