#root {
	display: flex;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #282c34;
	color: white;
}

.sidebar {
	width: 20rem;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #282c34;
	border-right: 2px solid #343746;
	align-items: flex-start;
	gap: 20px;
	justify-content: flex-start;
	padding-top: 10rem;
	color: white;
	position: relative;
}

#detail {
	width: 90%;
	overflow: scroll;
}

.sidebar nav a:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

.navItem .book_icon {
	font-size: 1.5rem;
	margin: 0 10px;
}

.sidebar nav {
	width: 100%;
	flex: 1;
	overflow: auto;
	padding: 6rem 0.25rem;
	margin: auto;
	box-sizing: border-box;
}

.sidebar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar li {
	margin-bottom: 1rem;
	font-size: 1.2em;
}

.sidebar nav a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	white-space: pre;
	padding: 0.5rem;
	border-radius: 8px;
	color: inherit;
	text-decoration: none;
	gap: 1rem;
	border: 1px solid transparent;
	transition: background-color 0.3s ease;
}

.sidebar nav a.active {
	background: #4a83f6;
}

.mobile_btn {
	display: none;
}

@media screen and (max-width: 1000px) {
	.sidebar {
		width: 15rem;
	}

	.sidebar li {
		font-size: 1em;
	}

	.navItem .book_icon {
		font-size: 1rem;
	}
}

@media screen and (max-width: 700px) {
	#detail {
		width: 100%;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		left: -100%;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 40;
		transition: left 0.5s;
	}

	.sidebar.active {
		left: 0;
	}

	.mobile_btn {
		display: block;
		position: absolute;
		right: -5rem;
		top: 0;
		cursor: pointer;
		z-index: 15;
		color: antiquewhite;
		font-size: 3rem;
	}

	.mobile_btn.open {
		left: 15rem;
	}

	.sidebar nav {
		width: 80%;
	}

	.sidebar li {
		font-size: 1.5em;
	}

	.navItem .book_icon {
		font-size: 1.5rem;
	}
}
