.books_wrapper {
	width: 90%;
	margin: 2rem auto;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
}

.content {
	width: 100%;
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px;
	margin-top: 2rem;
}

.book_form .author {
	color: white;
	font-size: 0.8rem;
}

.book_form .title {
	color: #4a83f6;
}

.books_spinner {
	width: 100%;
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.books_spinner .spinner {
	animation: spinner 1s infinite linear;
	font-size: 4rem;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.book_form {
	width: 25%;
	height: 25rem;
	border: 1px solid transparent;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
	transition: all 300ms ease-in-out;
}

.book_form:hover {
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 0px;
}

.bottom_btn {
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.bottom_btn a {
	width: 100%;
}

.book_form .btn,
.cardBook_bottom .btn {
	width: 100%;
	height: 2rem;
	border: 1px solid transparent;
	border-bottom: 1px solid #343746;
	border-radius: 3px;
	transition: background-color 0.3s ease;
}

.book_form .btn a {
	text-decoration: none;
	color: antiquewhite;
}

.book_form .btn:hover,
.cardBook_bottom .btn:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

.cardBook_bottom {
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 1rem;
}

.embeddable {
	position: absolute;
	top: 2rem;
	left: -2rem;
	width: 10rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-45deg);
	box-shadow: rgba(128, 128, 128, 0.2) 0px 5px 15px 0px;
}

.embeddable.red {
	background-color: red;
}

.embeddable.green {
	background-color: green;
}

@media screen and (min-width: 1300px) {
	.book_form {
		width: 18%;
	}
}

@media screen and (max-width: 1000px) {
	.book_form {
		width: 40%;
	}
}

@media screen and (max-width: 700px) {
	.book_form {
		width: 70%;
	}
}
