.book_info_wrapper {
	width: 100vw;
	min-height: 100vh;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow: scroll;
}

.book_card {
	width: 90%;
	min-height: 90vh;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}

.book_card_top {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.book_card_img {
	width: 30%;
	height: 100%;
}

.book_card_img img {
	width: 10rem;
	border-width: 0;
	border-radius: 4px;
	box-shadow: 9px 13px 15px 3px #80808066;
}

.book_card_list {
	width: 60%;
	height: 15rem;
}

.book_card_info {
	width: 100%;
	list-style: none;
	padding-left: 0;
	display: grid;
	justify-items: start;
	align-items: start;
	gap: 10px;
	grid-template-columns: 2fr 4fr;
	grid-template-rows: 2fr 2fr 2fr 2fr;
}

.book_card_info .author {
	text-align: left;
}

.book_info_btn {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-bottom: 1rem;
}

.book_info_btn .btn:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

@media screen and (max-width: 1000px) {
	.book_card_img img {
		width: 8rem;
	}
}

@media screen and (max-width: 700px) {
	.book_info_wrapper h1 {
		font-size: 1.5rem;
	}

	.book_card_top {
		flex-direction: column;
		height: 50vh;
	}

	.book_card_img {
		width: 60%;
		height: 20vh;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.book_card_img img {
		width: 8rem;
	}

	.book_card_list {
		width: 100%;
		height: 25vh;
	}

	.book_card_info {
		width: 100%;
		grid-template-columns: 3fr 5fr;
		grid-template-rows: repeat(4, 1.5rem);
	}

	.book_card_content {
		margin: 1rem 0;
	}
}
