.search_wrapper {
	width: 90%;
	height: 4rem;
	background-color: #282c34;
	margin: 2rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	position: sticky;
	top: 0;
	z-index: 10;
}

.book_search {
	width: 60%;
}

.book_search input {
	background-color: inherit;
	border-color: #6c757d;
	font-size: 1.2em;
}
.book_search input:focus {
	background-color: inherit;
	color: antiquewhite;
}

.book_search input::placeholder {
	color: gray;
}

.selectWrapper {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.select_wrapper {
	width: 20rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.select_title {
	width: 5rem;
}

.select_wrapper select {
	color: gray;
}

.icon {
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.search_wrapper {
		width: 90%;
		height: 8rem;
		margin: 1rem auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.book_search {
		width: 90%;
	}

	.selectWrapper {
		width: 70%;
	}
}

@media screen and (max-width: 700px) {
	.search_wrapper {
		width: 100%;
		height: 14rem;
		margin: 0 auto;
		padding-top: 4rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.book_search {
		width: 100%;
	}

	.selectWrapper {
		width: 100%;
	}
}
