.mainWrapper {
	width: 80vw;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
}

.mainWrapper .icon_close {
	font-size: 2rem;
	color: white;
	position: absolute;
	top: 0.5em;
	left: 17rem;
	z-index: 20;
	cursor: pointer;
}

.mainWrapper .filter_btn {
	width: 9rem;
	height: 2.5rem;
	position: absolute;
	left: 0;
	top: 1rem;
	z-index: 15;
}

.mainWrapper .filter_btn .btn {
	width: 100%;
	background-color: #4a83f6;
	color: #fff;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	margin: 10px;
	font-size: 1.2em;
	transition: background-color 0.3s ease;
}

.mainWrapper .filter_btn .btn:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

@media screen and (max-width: 1000px) {
	.mainWrapper .filter_btn {
		width: 6rem;
		height: 3rem;
	}

	.mainWrapper .filter_btn .btn {
		width: 90%;
		font-size: 0.8em;
	}

	.mainWrapper .icon_close {
		font-size: 1.5rem;
		left: 11rem;
	}
}

@media screen and (max-width: 700px) {
	.mainWrapper .filter_btn {
		width: 90%;
		height: 3rem;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 0.5rem;
	}

	.mainWrapper .filter_btn .btn {
		width: 60%;
		font-size: 1.2em;
		margin: 0;
	}

	.mainWrapper {
		width: 100vw;
	}

	.mainWrapper .icon_close {
		left: 20rem;
	}
}
