#viewerCanvas {
	width: 50vw;
	height: 100vh;
}

.read_wrapper {
	width: 80vw;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	overflow: scroll;
	box-sizing: border-box;
}

.read_btn {
	width: 14rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	box-sizing: border-box;
}

.read_btn .btn {
	background-color: #007bff;
	color: #fff;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	margin: 10px;
	transition: background-color 0.3s ease;
	box-sizing: border-box;
}

.read_btn .btn:hover {
	background-color: #024894;
	border-color: antiquewhite;
}

.read_content {
	width: 60vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.read_content .spinner {
	animation: spinner 5s infinite linear;
	font-size: 8rem;
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 1000px) {
	#viewerCanvas {
		width: 70vw;
		height: 70vh;
	}

	.read_wrapper {
		flex-direction: column;
		align-items: center;
	}

	.read_btn {
		width: 80%;
		height: 4rem;
		margin: 0 auto;
		flex-direction: row;
		justify-content: center;
		position: fixed;
		top: 0;
	}

	.read_btn .btn {
		width: 10rem;
	}
}

@media screen and (max-width: 700px) {
	#viewerCanvas {
		width: 100vw;
		height: 70vh;
	}

	.read_wrapper {
		width: 100%;
	}

	.read_btn {
		width: 50%;
		height: 8rem;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		top: 0;
		gap: 0;
	}

	.read_btn .btn {
		width: 100%;
	}
}
