.filter {
	width: 20rem;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #282c34;
	border-right: 2px solid #343746;
	align-items: flex-end;
	gap: 20px;
	justify-content: flex-start;
	padding: 1rem;
	color: white;
	position: absolute;
	top: -1rem;
	left: 0;
	z-index: 16;
}

.filter-row {
	width: 100%;
	height: 20rem;
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.filter-group {
	width: 100%;
	flex: 1;
	text-align: center;
}

.filter input[type='text'] {
	width: 80%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

@media screen and (max-width: 1000px) {
	.filter {
		width: 15rem;
	}

	.filter input::placeholder {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 700px) {
	.filter {
		width: 100%;
	}

	.filter input::placeholder {
		font-size: 0.8em;
	}
}
